@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            @if (@User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="btn btn-outline-success btn-mr10px " href="/AdminPanel/Index" title="Панель администратора">Админ</a>
                </li>
            }

            @if (User.IsInRole("Owner"))
            {
                <li class="nav-item">
                    <a class="btn btn-outline-success btn-mr10px" href="/OwnerPanel/Index" title="Панель владельца магазина">Владелец</a>
                </li>
            }

            @if (User.IsInRole("Cashier"))
            {
                <li class="nav-item">
                    <a class="btn btn-outline-success btn-mr10px" href="/CashierPanel/Index" title="Панель кассира">Кассир</a>
                </li>
            }

            <li class="nav-item">
                <a class="btn btn-primary btn-mr10px" asp-area="Identity" asp-page="/Account/Manage/Index" title="Менеджер аккаунта">Аккаунт@*@User.Identity.Name*@</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="btn btn-danger">Выйти</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary login-button" asp-area="Identity" asp-page="/Account/Login">Войти</a>
            </li>
        }
    </ul>
